
    <ul>
        <li><a href="/admin">返回首页</a></li>
        <li><a href="/admin/banner">bannber</a></li>
        <li><a href="/admin/custom">custom</a></li>
        <li><a href="">关于我们</a></li>
        <li><a href="">联系我们</a></li>
        <li><a href="">博客</a></li>
        <li><a href="">...</a></li>
    </ul>