<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员登陆</title>
</head>
<body>
    <div>
        <form action="/admin/login" method="post">
            <p>
                username:<input type="text" name="username" value="">
            </p>
            <p>
                password:<input type="password" name="password" value="">
            </p>
            <p>
                <input type="submit" value="submit">
            </p>

        </form>
    </div>
</body>
</html>