<!DOCTYPE html>
<html>
<head>
	<title>my-chat-romm</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="js/element-ui.css">
	<link rel="stylesheet" href="css/style.css">
	<script type="text/javascript" src="js/vue.js"></script>
	<script src="js/element-ui.js"></script>
	<script type="text/javascript" src="js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script>

</head>
<body>
<div id="app">
	<!--<input type="text" id="username">-->


	<!--头部-->
	<!--<div class="header">
		<p style="height: 10px;"></p>
		<img :src="img">
		<span>{{username}}</span>
	</div>-->

	<div class="body">
		<div class="bodyChild">

			<div class="left">
				<div class="leftChild">
					<span class="num">同时在线人数：{{num}}</span>
					<span class="title">人员列表</span>
					<ul>
						<li v-for="(val,index) in userList" :class="val.username==username ? 'me' : ''">
							<img :src="val.src">
							<span v-text="val.username"></span>
						</li>
					</ul>
				</div>
			</div>

			<div class="right">
				<div class="rightChild">
					<div class="show">
						<div class="showChild">
							<div v-for="(val,index) in contentList" class="chatOneLine" :class="val.me ? 'me' : ''" @click="srcollBtoom">
								<div class="one">
									<img :src="val.src">
									<b v-text="val.username"></b>
									<span v-text="val.time"></span>
									<i v-show="val.loading"><img src="../image/loading.gif"></i>
								</div>

								<p v-html="val.content" :style="{color:val.me ? color : '#0000ff'}"></p>
							</div>
						</div>

					</div>
					<div class="text">
						<div class="actionBar">
							<form id='form'>
								<script id="container" name="content" type="text/plain" style="height:130px;width: 765px;overflow: hidden"></script>
							</form>
						</div>
						<p>
							<el-button type="primary" @click="emit('')" class="GroupChat" size="small">发送信息</el-button>
							<el-button size="small">清除内容</el-button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>

</body>
</html>
<script src="js/char.js"></script>
								<script>
									function test(val) {
                                        console.log(val);
                                    }
								</script>
