
/*.module:hover{
  border: 2px #f00 dashed;
  box-shadow: 0px 0px 20px 3px #000;
}*/

/*.module{
  z-index: 9;
}*/

.index_Highlight{
    border: 1px #52aeff solid !important;
    box-shadow: 0 0 30px 5px #000;
  }
  .index_Highlight_hover{
     border: 1px #52aeff solid !important;
    box-shadow:0 0 8px 3px #777;
  }



.module .ui-resizable-ne::after{
    content: '';
    width: 8px;
    height: 8px;
    border: 1px #52aeff solid;
    background: #fff;
    display: block;
    float: right;
    border-radius: 50%;
  }
 .module .ui-resizable-n::after {
   content: '';
   width: 8px;
   height: 8px;
   border: 1px #52aeff solid;
   background: #fff;
   display: block;
   margin: 0 auto;
   border-radius: 50%;
 }
 .module .ui-resizable-sw::after{
   content: '';
   width: 8px;
   height: 8px;
   border: 1px #52aeff solid;
   background: #fff;
   display: block;
   float: left;
   border-radius: 50%;
 }
 .module .ui-resizable-nw::after{
   content: '';
   width: 8px;
   height: 8px;
   border: 1px #52aeff solid;
   background: #fff;
   display: block;
   float: left;
   border-radius: 50%;
 }
 .module .ui-resizable-se::after{
   content: '';
   width: 8px;
   height: 8px;
   border: 1px #52aeff solid;
   background: #fff;
   display: block;
   float: right;
   border-radius: 50%;
   margin-right: -6px;
   margin-top: 12px;
 }

 .module .ui-resizable-w::after{
   content: '';
   width: 8px;
   height: 8px;
   border: 1px #52aeff solid;
   background: #fff;
   display: block;
   float: right;
   border-radius: 50%;
   margin-right: -6px;
   position: absolute;
   top: 50%;
   left: 0;
 }

 .module .ui-resizable-e::after{
   content: '';
   width: 8px;
   height: 8px;
   border: 1px #52aeff solid;
   background: #fff;
   display: block;
   float: right;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   left: -2px;
 }

 .module .ui-resizable-s::after{
   content: '';
   width: 8px;
   height: 8px;
   border: 1px #52aeff solid;
   background: #fff;
   display: block;
   border-radius: 50%;
   margin: 0 auto;
   margin-top: -2px;
 }

 .ui-icon{
   overflow: visible;
 }

 .ui-resizable-n{
    border-bottom: 1px #52aeff solid !important;
 }
 .ui-resizable-e{
    border-left: 1px #52aeff solid !important;
 }
 .ui-resizable-s{
    border-top: 1px #52aeff solid !important;
 }
 .ui-resizable-w{
    border-right: 1px #52aeff solid !important;
 }

 div.public_edit ul{
    display: flex;
 }
 
div.public_edit ul > li:first-child{
  width: 77px;
}

.wDefaultBorder{
  border: 1px solid transparent;
}

div.setOne p strong, div.setOne .myBorder strong{
  box-sizing: border-box;
  padding-left: 12px;
}

.bottomBar .content{
  padding-left: 2%;
}
