body
{
  -moz-user-select:   none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-select: none;
}
.topBar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  border-bottom:1px #ccc solid;
  z-index: 999;
}
.bottomBar{
  width: 100%;
  height: 200px;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: -200px;
  border-top:1px #ccc solid;
  box-shadow: 0 0 13px 3px #ccc;
  z-index: 1002;
  transition: all 0.2s;
  -moz-transition:all 0.2s;
  -webkit-transition:all 0.2s;
  -o-transition:all 0.2s;

}
.bottomBarShow{
  bottom: 0px;
}
.subject{
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.layout_row{
  position: relative;
  width: 100%;
  border: 1px transparent solid;

}
.layout_row .laybox{
  height: 100%;
  margin: 0 auto;
  position: relative;
  border: 1px transparent solid;
  margin-top:-1px;
  margin-bottom:-1px;
}
.module{
  position: absolute;
  width: auto !important;
  height:auto !important;
  cursor: move;
  z-index: 1;

}
.left_sidebar{
  position: fixed;
  top: 300px;
  left: 30px;
  z-index:1000;
}
.left_sidebar_btn{

  width: 54px;
  height: 54px;
  box-shadow: 5px 5px 10px 1px #ccc;
  border-radius:54px;
  text-align: center;
  border: 1px #e5e5e5 solid;
  transition: all 0.2s;
  -moz-transition:all 0.2s;
  -webkit-transition:all 0.2s;
  -o-transition:all 0.2s;
  overflow: hidden;
  background: #fff;
  cursor: pointer;
}
.left_sidebar_btn .frame,.left_sidebar_dialog .frame{
  position: relative;

}
.left_sidebar_btn i{
  float: left;
  width: 54px;
  height: 100%;
  line-height: 54px;
  font-size: 30px;
}
.left_sidebar_btn span{
  position: absolute;
  width: 54px;
  height: 54px;
  top: 0;
  left: 40px;
  opacity:0;
  line-height: 54px;
  transition: all 0.2s;
  -moz-transition:all 0.2s;
  -webkit-transition:all 0.2s;
  -o-transition:all 0.2s;
  font-size: 16px;
}
.left_sidebar_btn:hover{
  width:100px;
  background: #5874d8;

}
.left_sidebar_btn:hover span{
  opacity:1;
  color: #fff;
}
.left_sidebar_btn:hover i{
  color: #fff;
}
.left_sidebar_dialog{
  position: fixed;
  z-index:100;
  width: 350px;
  height: 600px;
  background: #fff;
  top: 100px;
  left:100px;
  box-shadow: 0px 3px 10px 1px #ccc;
  border-radius: 5px;
  transition: opacity 0.2s;
}


.left_sidebar_dialog #tab-icon{
  padding: 0 10px;

}

.left_sidebar_dialog #tab-icon i{
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}

.left_sidebar_dialog .el-tabs__header{
  background: #5874d8;

}
.left_sidebar_dialog .el-tabs__item {
  color: #fff !important;
}
.left_sidebar_dialog .is-active{
  color: #5874d8 !important;
}

.left_sidebar_dialog .close{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0px;
  z-index: 10;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}
.left_sidebar_dialog .el-tabs__content{
  height: 560px;
  padding: 0;
  overflow: visible;
}
.left_sidebar_dialog .PendantList{
  width: 100%;
  height: 100%;
}
.left_sidebar_dialog .PendantList li{
  width: 83px;
  height: 83px;
  float: left;
  text-align: center;
  border-right: 1px dashed #e5e5e5;
  border-bottom: 1px dashed #e5e5e5;
  margin-bottom: -1px;
  margin-right: -1px;
  color: #333;
  cursor: pointer;
  background: #fff;

}
.left_sidebar_dialog .PendantList li img{
  height: 30px;
  width: 37px;
  margin-top:15px;
  margin-bottom:10px;

}
.left_sidebar_dialog .PendantList li span{
  display: block;
  font-size: 12px;
  text-align: center;
}
.select_laybox{
  background:#e1edf9 !important;
  border: 1px #cbdff3 solid;
}
.select_laybox::after{
  content: '放入自由容器中';
  display: block;
  width: 100%;
  height: 30px;
  text-align: center;
  position: absolute;
  top:48%;
  left: 0;
  color: #569fe7;
}
.left_sidebar_dialog .frame{
  border-radius: 5px;
}

.edit_title{
  width: 100%;
  height: 30px;
  background:#5874d8 ;
  color: #fff;
  font-size: 14px;
}
.setOne{
  height: 40px;
  /*overflow: hidden;*/
  margin-top:10px;
  min-width: 1100px;
}
.setOne p {
  float: left;
  width: 25%;
  height: 40px;

}
.setOne p strong{
  float: left;
  height: 40px;
  width:100px;
  line-height: 40px;
  text-align: left;
}
.setOne p .el-input{
  float: left;
}
.bottomBar .content{
  min-width: 1000px;
  height: 170px;
}
.init_edit{
  width: 100%;
  height: 100%;
  text-align: center;
  line-height:170px ;
}
.init_edit span{
  display: inline-block;
  width: 80px;
  height: 80px;
  vertical-align: middle;
  line-height:80px;
  margin:0 10px;
  border: 1px #999 solid;
  cursor: pointer;
  border-radius: 5px;
}

.init_edit span:hover{
  color: #fff;
  background: #5874d8;
}

.edit_title i{
  float: left;
  height: 30px;
  width: 30px;
  line-height:30px;
  text-align: center;
}
.edit_title span{
  line-height:30px;
}
.index_parts:hover{
  border: 2px #f00 dashed !important;
  box-shadow: 0 0 20px 5px #000;
}
.edit_title .close{
  float: right;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}
.indexBanner{
  border: 1px transparent dashed;
}
.indexBanner a{
  display: block;
  width: 100%;
  height: 100%;
}
/*.indexBanner a img{
  display: block;
  width: 100%;
  height: 100%;
}*/
/*.indexBanner .banner_img{
  display: block;
  width: 100%;
  height: 100%;
}*/


.indexBanner .swiper-button-prev,.indexBanner .swiper-button-next{
  pointer-events:auto !important;
}

.indexBanner .thumbnail-page{
  position: absolute;
  z-index: 100;
  bottom:10px;
  border: 2px transparent solid;
}
.DefaultStyleComponent .swiper-container{
  height:170px;
}
.DefaultStyleComponent .swiper-container .swiper-slide{
  padding:10px 0;
  padding-left:10px;

}

.DefaultStyleComponent .swiper-container .swiper-slide .child{
  border: 1px #999 solid;
  height: 100%;
  position: relative;
  padding:10px;
  padding-bottom:0;
}

.DefaultStyleComponent .swiper-container-horizontal > .swiper-pagination-bullets{
  bottom:3px;
}

.DefaultStyleComponent .swiper-container .swiper-slide .child p{
  display: none;
  width: 60px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
}
.DefaultStyleComponent .swiper-container .swiper-slide .child p i{
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height:30px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.DefaultStyleComponent .swiper-container .swiper-slide .child img{
  width: 100%;
  max-height: 110px;
  display: block;
  margin: 0 auto;
}
.DefaultStyleComponent .swiper-container .swiper-slide .child span{
  display: block;
  text-align: left;
  line-height:33px;
  font-weight: 800;
}
.DefaultStyleComponent .swiper-container .swiper-slide .child:hover p{
  display: block;
}


.public_edit{
  position:absolute;
  min-width: 80px;
  height: 45px;

  top: -43px;
  left: 0;

  display: none;
  cursor: pointer;
  margin-bottom:5px;

}
.public_edit ul{
  min-width: 80px;
  height: 40px;
  border: 1px #ccc solid;
  border-right:none;
  background: #fff;
  /* overflow: hidden; */
}


.module:hover .public_edit{
  display: block;


}
.public_edit ul li:hover{
  color: #5874d8;
  font-weight: 800;
}
.public_edit ul li{
  float: left;
  line-height:40px;
  text-align: center;
  border-right:1px #ccc solid;
  padding: 0 10px;
}

.basic_text_editor{
  min-width: 150px;
  cursor: move;
  border: 2px transparent solid;
  min-height: 30px;
}
.basic_text_editor .ql-toolbar{
  position: absolute;
  width:275px;
  left: 0;
  top: -70px;

}
.basic_text_editor .text-show{
  min-height: 30px;
}
.basic_text_editor .editNow{
  z-index:1001;
}
.basic_text_editor .editNow .ql-container{
  border:1px #5874d8 dashed !important;
}
.basic_text_editor .ql-container .ql-editor{
  min-height: 30px;
}
.basic_text_editor .clicklayer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:1000;
 /* background: #ccc;*/
}
.basic_text_editor .myinput{
  position: relative;

}
.basic_text_editor .myinput .view{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:1000;
}
.basic_text_editor .noedit .ql-toolbar{
  display: none !important;
}
.basic_text_editor .noedit .ql-container{
  border: none;
}
.module .frame_point{
  display: none;
  position: absolute;
  width: 10px;
  height:10px;
  border: 2px #f00 solid;
  background: #fff;
  z-index: 100;

}
.module .frame_point:nth-of-type(1){
  top: -5px;
  left: -5px;
}
.module .frame_point:nth-of-type(2){
  top: -5px;
  left:49%;
}
.module .frame_point:nth-of-type(3){
  top: -5px;
  right: -5px;
}
.module .frame_point:nth-of-type(4){
  top: 48%;
  right: -5px;
}
.module .frame_point:nth-of-type(5){
  bottom: -5px;
  right: -5px;
}
.module .frame_point:nth-of-type(6){
  bottom: -5px;
  left:49%;
}

.module .frame_point:nth-of-type(7){
  bottom: -5px;
  left: -5px;
}

.module .frame_point:nth-of-type(8){
  top: 48%;
  left: -5px;
}



.myBorder {
  width: 25%;
  height: 40px;
  float: left;
}
.myBorder .title{
  float: left;
  width: 30px;
  height: 30px;
  margin-right:10px;
  border-width: 1px;
  border-color: #ccc;
  border-style: solid;
  margin-top:4px;
}
.myBorder .title img{
  width: 100%;
  height: 100%;
}

.myBorder .sele,.myBorder .color,.myBorder .int{
  float: left;
  margin-right:5px;
}
.layout_row_hover{
  border: 1px #5874d8 solid !important;
}
/*.index_Highlight{
  z-index: 1001 !important;
}*/
.Mongolia{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.5;
  z-index: 1000;
}
.DefaultStyleComponent{
  height: 170px;
}

.DefaultStyleComponent .btn{
  float: left;
  width:40px;
  height: 100%;
  background: #e5e5e5;
}

.DefaultStyleComponent .btn i{

  line-height: 30px;
  text-align: center;
  color: #333;
  font-size: 28px;
  margin-top:10px;
  margin-left:7px;
  cursor: pointer;
}
.DefaultStyleComponent .btn i:hover{
  color: #5874d8;
}

.DefaultStyleComponent .imgFrame{
  width: 100%;
  height: 106px;
  line-height: 106px;
  text-align: center;
  border: 1px #999 dashed;
}
.DefaultStyleComponent .imgFrame img{
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  display: inline-block !important;
}
.DefaultStyleComponent .swiper-container .swiper-slide .child:hover{
  border: 1px #5874d8 solid;
  box-shadow: 0px 0px 10px 3px #333;
  cursor: pointer;
}
.DefaultStyleComponent .swiper-container .swiper-slide .childSel{
  border: 1px #5874d8 solid;
  box-shadow: 0px 0px 10px 3px #333;
}
.lookImg{
  width: 100%;
  height: 400px;
  line-height: 400px;
  text-align: center;
}
.lookImg img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;

}
.allMongolia{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity:0.5;
  z-index: 1000;
}

.moduleTop{
  z-index:1001 !important;
}
.el-dialog{
  z-index: 1001;
}
.addStyle .addStyle_imgFrame{
  width: 100%;
  height: 150px;
  line-height: 150px;
  text-align: center;
  border: 1px #999 dashed;
  margin-bottom:10px;
  cursor: pointer;
}
.addStyle .addStyle_imgFrame img{
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
.addStyle .el-dialog{
  width: 500px;

}
.resizable-handle-none{
  display: none !important;
}
.addStyle .el-dialog__wrapper{

}

.layout_row:hover .row_edit{
  display: block;
}

.row_edit{
  display: none;
  position:absolute;
  min-width:90px;
  height: 30px;
  top:0;
  left: 0;
  background: #fff;
  z-index: 10;
  /*display: none;*/

}
.row_edit ul{
  width: 100%;
  height: 30px;
  border: 1px #ccc solid;
  border-right:none;
  background: #fff;
  overflow: hidden;
  background: #fff;
}
.row_edit ul li{
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-right:1px #ccc solid ;
  cursor: pointer;
  font-size: 16px;
}
.row_edit ul li:hover{
  color: #5874d8;
  font-weight: 800;
}
.editing_block_Mongolia{
  width: 100%;
  background: #000;
  opacity:0;
  position: absolute;
  z-index: 998;
  left: 0;
  line-height:50px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s;
  -moz-transition:all 0.2s;
  -webkit-transition:all 0.2s;
  -o-transition:all 0.2s;
}

/*.layout_header,.layout_body,.layout_footer{
  position: relative;
}*/

/*.layout_header:hover .editing_block_Mongolia{
  opacity:0.5;
}

.layout_body:hover .editing_block_Mongolia{
  opacity:0.5;
}

.layout_footer:hover .editing_block_Mongolia{
  opacity:0.5;
}*/

.editing_block_Mongolia{

}

.no_laybox{
  background: #ffbdb7 !important;
  border: 1px #f00 solid;
}
.no_laybox::after{
  content: '此处不能放置！';
  display: block;
  width: 100%;
  height: 30px;
  text-align: center;
  position: absolute;
  top:48%;
  left: 0;
  color: #f00;
}
.row_Mongolia{
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
.row_back_frame{
  float: left;
  width: 25%;
  height: 40px;
  position: relative;
}
.row_back{
  position: relative;
  float: left;
  width: 38px;
  height: 38px;
  margin-left:10px;
  border: 1px #ccc solid;
  margin-right:10px;
  cursor: pointer;
}
.row_back img{
  width: 100%;
  height: 100%;
}
.seleImg{
  margin-top: 5px;
}
.row_back_big{
  position:absolute;
  width: 200px;
  height: 200px;
  line-height:100px;
  text-align: center;
  border: 1px #ccc solid;
  left: 10px;
  top: -205px;
  z-index:100;
  background: #fff;
}
.row_back i{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  text-align: center;
  line-height:38px;
  color: #fff;
  font-size: 18px;
}

.row_back:hover i{
  display: block;
}

.index_effect_img{
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}
.index_effect_img img{
  display: inline-block;
  transition: all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  max-height: 100%;
  max-width: 100%;
}
.index_effect_img .pic_parent{
  position: absolute;
  opacity:1;
  transition: all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 99;
}
.index_effect_img .pic_child{
  position: absolute;
  opacity:0;
  transition: all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  height: 100%;
  width: 100%;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 98;
}
.index_effect_img .effect_layer{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.index_effect_img .effect_layer p{
  width: 100%;
  height: 100%;
  position: relative;
}
.index_effect_img .effect_layer p span{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity:0;
  background:#000;
  transition: all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  z-index: 1;
}
.index_effect_img .effect_layer p i{
  position: absolute;
  opacity:0;
  font-family:FontAwesome;
  transition: all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center ;
  top: 0;
  left: 0;
}
.index_effect_img:hover .effect_layer p span{
  opacity:0.3;
}
.index_effect_img:hover .effect_layer p i{
  opacity:1;
}
.texiao-items:hover{
  border: 1px #5874d8 solid;
}

.index_effect_img:hover .pic_changeSrc{
  opacity:0;
}
.index_effect_img:hover .pic_child{
  opacity:1;
}



.icon_search .el-dialog{
  width: 600px;

}
.icon_search .iconList{
  width:560px;
  height: 300px;
  overflow-y: auto;
  margin-top:10px;
}
.icon_search .iconList li{
  font-family:FontAwesome;
  float: left;
  width:60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border: 1px #ccc solid;
  margin-right:7px;
  margin-bottom:7px;
  font-size: 20px;
  cursor: pointer;
}
.icon_search .iconList .sLi{
  border: 1px #5874d8 solid;
}
.icon_search .iconList li:hover{
  border: 1px #5874d8 solid;
}
.layout_row:hover .Sortable_Door{
  display: block;
}
.Sortable_Door{
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 30px;
  z-index: 998;
  background: #fff;
}
.Sortable_Door i{
  float: right;
  color: #333;
  font-size: 18px;
  line-height:30px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px #ccc solid;
  margin-right:-1px;
  text-align: center;
}
.Sortable_Door i:hover{
  color:#5874d8;
}
.mySortableModule{
  height: 30px;
  background: #ffe5cd;
  border: 1px #ec6941 dashed;
  list-style: none;
}
.mySortableModule:before{
  content:'放这里';
  display:block;
  width: 100%;
  height: 100%;
  color: #ec6941;
  text-align: center;
  line-height: 30px;
}

.moduleChangeRow:before{
  content: '放置到这个容器';
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #5874d8;
  transition: all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  -o-transition:all 0.3s;
  box-shadow: 0 0 20px 5px #5874d8 inset;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(225,237,249,0.3);
}
.save{
  float: right;
  margin-right: 10px;
  margin-top:10px;
}

.Sortableitem{
  height: 50px !important;
  overflow: hidden;
}
.Sortableitem:before{
  content: '当前拖拽容器';
  position: absolute;
  background: #5874d8 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5000;
  opacity:0.8;
  color: #ff0;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
}
.Sortableitem .laybox{
  height: 50px !important;
}
.handle_sortable{
  display: none;
  width: 50px;
  height: 30px;
  background: rgba(0,0,0,0.7);
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 10;
  cursor: move;

}
.handle_sortable i{
  line-height: 30px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 18px;
}
.layout_row:hover .handle_sortable{
  display: block;
}


.align_line{
  background: #f00;
  position: absolute;
  z-index: 1000;

}
.pic_admin{
  padding-left:5px;
}

.pic_admin .swiper-slide{
  padding: 10px 0;
}
.pic_admin .child{
  width: 100%;
  height: 100%;
  position: relative;
}

.pic_admin .child:hover .edit{
  display: block;
}
.pic_admin .imgFrame{
  width: 100%;
  height:148px;
  line-height:148px;
  border: 1px #ccc dashed;
  text-align: center;
}
.pic_admin .imgFrame img{
  max-width: 100%;
  max-height: 100%;
}
.pic_admin .addPic{
  width: 100%;
  height: 148px;
  line-height:148px;
  border: 1px #ccc dashed;
  text-align: center;
  background: #e3e3e3;
  cursor: pointer;
}
.pic_admin .addPic i{
  display: block;
  width: 100%;
  height: 100%;
  font-size: 40px;
  line-height: 148px;
}
.pic_admin .addPic:hover {
  background: #ccc;
}
.pic_admin .edit{
  display: none;
  width: 60px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;

}
.pic_admin .edit i{
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 30px;
}
.pic_admin .edit i:nth-of-type(1){
  background: #ff9d0c;
}
.pic_admin .edit i:nth-of-type(2){
  background: #f00;
}
.banner_pic_edit .el-dialog{
  width: 500px;
}

.banner_pic_edit .addStyle_imgFrame{
  width: 100%;
  height: 150px;
  line-height: 150px;
  text-align: center;
  border: 1px #999 dashed;
  margin-bottom:10px;
  cursor: pointer;
  position: relative;
}
.banner_pic_edit .addStyle_imgFrame p{

  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 150px;
  line-height:150px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  transition: all 0.3s;
  background: #000;
}
.banner_pic_edit .addStyle_imgFrame:hover p{
  opacity: 0.7;
}
.banner_pic_edit .myInput{
  width: 450px;
}
.banner_pic_edit .myInput .el-input{
  width: 340px !important;
}
.addStyle_imgFrame img{
  max-width: 100%;
  max-height: 100%;
}
.banner_pic_edit .setOne{
  min-width: 600px;
}
.banner_pic_edit .setOne p{
  width: 100%;
}

