<!DOCTYPE html>
<html>
<head>
	<title>my-chat-romm</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../js/element-ui.css">
	<link rel="stylesheet" href="../css/style.css">
	<script type="text/javascript" src="../js/vue.js"></script>
	<script src="../js/element-ui.js"></script>
	<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<body>
<div id="app" @click="biaoqingDialog=false">
	<!--头部-->
	<div class="header">
		<p style="height: 10px;"></p>
		<img :src="img">
		<span>{{username}}</span>
		<b class="logOut" @click="logOut">退出登陆</b>
	</div>

	<div class="body">
		<div class="bodyChild">

			<div class="left">
				<div class="leftChild">
					<span class="num">同时在线人数：{{num}}</span>
					<span class="title">人员列表</span>
					<ul>
						<li v-for="(val,index) in userList" :class="val.me ? 'me' : val.isMessage == 1 ? 'message' : ''" @click="openPrivateChat(index,val)">
							<img :src="val.src">
							<span v-text="val.username"></span>
							<b v-show="val.me">【自己】</b>
						</li>
					</ul>
				</div>
			</div>

			<div class="right">
				<div class="rightChild">
					<div class="show">
						<div class="showChild">
							<div v-for="(val,index) in contentList" class="chatOneLine" :class="val.me ? 'me' : ''" @click="srcollBtoom">
								<div class="one">
									<img :src="val.src">
									<b v-text="val.username"></b>
									<span v-text="val.time"></span>
									<i v-show="val.me && isSuccess"><img src="../image/loading.gif"></i>
								</div>

								<p v-html="val.content" :style="{color:val.me ? color : '#0000ff'}"></p>
								<img :src="val.img" class="liaotianImg" v-if="val.img">
							</div>
						</div>
						
					</div>
					<div class="text">
						<div class="actionBar">
							<form id='form'>
								<input type="color" class='colorBtn' @change="colorChange" value="#0000ff"/>
								<p>
									<input type="button" value="发送图片" class="filebutton"/>
									<input type="file" class='fileBtn' @change="imgChange" value=""/>
								</p>
								<input type="button" value="发送表情" class="biaoqing" @click.stop="biaoqingDialog=true">
							</form>
						</div>
						<el-input
								class="textarea quliaotextarea"
								type="textarea"
								:rows="4"
								placeholder="请输入内容"
								v-model="content">
						</el-input>
						<p>
							<el-button type="primary" @click="emit('')" class="GroupChat">发送信息</el-button>
							<el-button>清除内容</el-button>
						</p>
					</div>
				</div>
				<div class="biaoqingFrame" v-show="biaoqingDialog">
					<ul>
						<li v-for="(val,index) in ExpressionList" @click="selectExpression(val)">
							<img :src="'../image/Expression/'+val+'.gif'">
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- 私聊弹框 -->
	<el-dialog
	  :visible.sync="dialogVisible"
	  :before-close="PrivateChatClose"
	  size="small">
	  <div slot="title" class="dialogHeader">
	  	<span v-text="Other"></span>
	  	<el-button type="danger" size="mini" @click="PrivateChatClose">x</el-button>
	  </div>
	  <div class="PrivateChat">
	  	<div class="PrivateChatContent">
	  		<div class="PrivateChatContentChild">
				<div v-for="(val,index) in PrivateChatList" class="chatOneLine" :class="val.me ? 'me' : ''" @click="srcollBtoom">
					<div class="one">
						<img :src="val.src">
						<b v-text="val.username"></b>
						<span v-text="val.time"></span>
						<i v-show="PrivateChatLoading && PrivateloadingIndex == index"><img src="../image/loading.gif"></i>
					</div>

					<p v-text="val.content"></p>
				</div>
			</div>
	  	</div>
	  	<el-input
				class="textarea"
				type="textarea"
				:rows="2"
				placeholder="请输入内容"				
				v-model="PrivateChatContent">
		</el-input>
		<p>
			<el-button type="primary" @click="emitPrivateChat" size="small" class="PrivateChatBtn">发送信息</el-button>
			<el-button size="small" @click="PrivateChatClose">关闭对话</el-button>
		</p>

	  	
	  </div>

	</el-dialog>


</div>

</body>
</html>

<script type="text/javascript">
	var vm = new Vue({
		el:'#app',
		data:{
			img:'',
			socket:{},
			username:'',
			fromUsername:'',
			num:0,//在线人数
			userList:[],
			listHeight:500,
			contentHeight:500,
			content:'',//群聊的内容
			contentList:[],
			isSuccess:false,//判断是否发送成功
			dialogVisible:false,
			Other:'啊实打实的',
			PrivateChatLoading:false,
			PrivateloadingIndex:0,
			PrivateChatInfor:[],//临时存储私聊内容的变量
			isNewInfor:false,//做私聊标示
			PrivateChatList:[],
			PrivateChatContent:'',
			color:'#0000ff',
			ExpressionList:[],//表情集合
			biaoqingDialog:false

		},
		methods:{
			emit:function (src) {
				var that = this
				//发送给服务器的对象
				var obj = {
					username:this.username,
					src:this.img,
					content:this.content,
					img:src
				};

				//插入视图的对象
				var viewObj = JSON.parse(JSON.stringify(obj));
				viewObj.me = true;
				viewObj.time = new Date().toLocaleString();
				this.isSuccess = true;//每次发送，loading出现
				obj.content = this.replaceImg(this.content);
				viewObj.content = this.replaceImg(this.content);

				this.contentList.push(viewObj);

				

				//回调函数在emit里面写，在后台中，以callback形式接受回调，并执行
				this.socket.emit('chat',obj,function () {
					//发送成功
					that.isSuccess = false;
				});
				this.content = '';
				this.$nextTick(function(){
					that.srcollBtoom()
				})
			},
			emitKeyDown:function () {
				var that = this;
				document.onkeydown = function(e){
					var ev = document.all ? window.event : e;
					if(that.dialogVisible){
						if(ev.keyCode==13) {
							that.emitPrivateChat();
						}
					}
					else{
						if(ev.keyCode==13) {
							that.emit();
						}
					}
					
				};

			},
			srcollBtoom:function(){
				//内容滚动到底
				var contentHeight = $('.showChild').height();
				if( contentHeight > this.contentHeight){
					$('.show').scrollTop(contentHeight-this.contentHeight)
				}
			},
			logOut:function(){
				var url = 'http://192.168.40.214:3000/logout';
	            $.ajax({
	                url: url,
	                type: "get",
	                success: function(e) {
						console.log(e)
	                	if(e.code == 200 && e.isLogout == 1){
							window.location.href = '../index.html';
	                	}
	                }

	            })
			},
			openPrivateChat:function(i,val){ 
				var state = val.isMessage;
				if( val.me ){
					 this.$message('不能和自己私聊！');
					 return false;
				}

				this.fromUsername =  val.username;
				this.Other = '与【' + val.username + '】进行聊天'

				//在有私聊的情况下，打开窗口要有消息
				if(state == 1){
					var infor = JSON.parse(JSON.stringify(this.PrivateChatInfor));//断开引用
					this.PrivateChatList = infor;
					this.PrivateChatInfor = [];//清空临时保存的信息
				}
				val.isMessage = 2;//关闭头像闪动
				
				this.dialogVisible = true;
			},
			emitPrivateChat:function(){
				var that = this;
				this.PrivateChatLoading = true;
				var obj = {
					username:this.username,
					src:this.img,
					content:this.PrivateChatContent,
					fromUsername:this.fromUsername
				};

				this.PrivateChatList.push(obj);
				this.PrivateloadingIndex = this.PrivateChatList.length - 1;//为了每次让最后一条的loading出来

				this.socket.emit('PrivateChat',obj,function () {
					//发送成功
					that.PrivateChatLoading = false;
					console.log('私聊！')
				});
				this.PrivateChatContent = '';
				this.$nextTick(function(){
					that.PrivateChatSrcollBtoom()
				})
			},
			PrivateChatClose:function(){
				this.dialogVisible = false;

				//把所有的用户状态改成0
				for(var i = 0; i<this.userList.length; i++){
					this.userList[i].isMessage = 0;
				}

				//列表数据清空
				this.PrivateChatList = [];
			},
			PrivateChatSrcollBtoom:function(){
				//内容滚动到底
				var contentHeight = $('.PrivateChatContentChild').height();
				if( contentHeight > 400){
					$('.PrivateChatContent').scrollTop(contentHeight-400)
				}
			},
			colorChange:function(e){
				this.color = e.target.value;

			},
			imgChange:function(e){
				var imgData = e.target.files[0];
				var fileRead = new FileReader();
				var that = this;
				fileRead.readAsDataURL(imgData);
				fileRead.onloadend = function () {
		            that.emit(fileRead.result);
		            $('.fileBtn').val('');//值清空
		            fileRead = null;
		        }

			},
			//循环所有图片，判断是否加载完
			isLoad:function(){
				this.$nextTick(function(){
					var imgArr = $('.liaotianImg');
					for(var i = 0;i<imgArr.length;i++){
						this.oneImg(imgArr,i);
					}
				})
			},
			oneImg:function(imgArr,i){
				var imgObj = imgArr.eq(i);
				var that = this;
				//图片加载完才执行，也就是说，前面的图片已经加载好了，就不会再执行了
				imgObj.load(function(){
					that.srcollBtoom();
				})
			},

			//选择表情
			selectExpression:function(val){
				var str = this.content;
				this.content = str + '[id:' +val+ ']';
				this.biaoqingDialog = false
				$('.quliaotextarea').children('textarea').focus();
			},

			//表情替换成img
			replaceImg:function(s){
				var reg =/\[id:(\d+)\]/g;//生成匹配数组，需要/g
				var str = s;
				var r = [];//每次匹配到生成的数组
				var arr = [];//所有匹配到的id，插入到一个数组
				while(r = reg.exec(str)) {   
				   arr.push(r[1])
				}

				for(var i = 0;i<arr.length;i++){
					str = str.replace( /\[id:(\d+)\]/,'<img src="../image/Expression/' + arr[i] + '.gif"/>')
				}
				console.log(str)
				return str;
			}


		},
		watch:{
			contentList:function(){
				this.isLoad()
			}
		},
		filters:{
			mytime:function (val) {
				console.log(val)
				var str = new Date(parseInt(val)).toLocaleString();
				return str
			}
		},
		created:function(){

		},
		mounted:function(){
			var that = this;
			this.emitKeyDown()

			var url = 'http://192.168.40.214:3000/chatroom';
            $.ajax({
                url: url,
                type: "get",
                success: function(e) {
					console.log(e)
                	if(e.code == 200){
						that.username = e.data.username;
                		that.img = e.data.src;

						//socket连接
						that.socket = io();

						//建立群体聊天监听
						that.socket.on('radio',function (msg) {
							//将不是自己发送的消息，插入列表
							if(msg.username != that.username){
								var time = new Date(msg.time).toLocaleString();
								msg.time = time;
								msg.content = that.replaceImg(msg.content);
								that.contentList.push(msg);
								that.$nextTick(function(){
									that.srcollBtoom()
								})
							}
						});

						//私聊监听
						that.socket.on('PrivateChatReply',function (data) {
							//先要知道消息是谁发过来的
							var name = data.username;//是这个人发过来的消息
							for(var i = 0 ; i<that.userList.length; i++){
								if(that.userList[i].username == name){

									//找到这个来私聊的人，判断现在是否和他在私聊
									if(that.userList[i].isMessage == 2){
										//如果已经在私聊了，直接插入消息
										that.PrivateChatList.push(data);
										that.$nextTick(function(){
											that.PrivateChatSrcollBtoom()
										})

									}
									else if(that.userList[i].isMessage == 0){
										//如果在没消息的情况下受到消息
										
										that.userList[i].isMessage = 1;//设置为有消息状态
										that.PrivateChatInfor.push(data);//数据先储存起来
									}
									else if(that.userList[i].isMessage == 1){
										//如果在没消息的情况下受到消息
										
										that.PrivateChatInfor.push(data);//数据先储存起来
									}
									break;
								}
							}

						});


						//将每个登陆的用户，发送给服务器
						//isMessage 0无消息 1有消息 2打开窗口
						var userObj = {
							username:e.data.username,
							src:e.data.src,
							isMessage:0//这个属性是用来做私聊，判断是否在进行私聊

						};
						that.socket.emit('login',userObj);

						//监听用户列表信息
						that.socket.on('user',function (data) {
							that.num = data.length;
							console.log('用户列表',data)

							//找到自己
							for(var i = 0; i<data.length; i++){
								if(data[i].username == that.username){
									data[i].me = true;
								}
							}
							that.userList = data
						});

						//监听用户离开
						that.socket.on('logOut',function (data) {
							that.num = data.length;
							that.userList = data

							console.log('有用户离开了',data)
						});


                	}
                },
                error:function(e){
                	if(e.status == 401){
                		window.location.href = '../index.html'

                	}
                }

            })

            //初始化表情集合
            var ExpressionList = [];
            for(var i = 1 ;i<76; i++){
            	ExpressionList.push(i);
            }
            this.ExpressionList = ExpressionList;
		}

	})



</script>