<!DOCTYPE html>
<html>
<head>
	<title>my-Blog</title>
	<meta charset="UTF-8">

<link rel="stylesheet" href="../js/element-ui.css">
<link rel="stylesheet" href="../js/jquery-ui.css">
<script type="text/javascript" src="../js/vue.js"></script>
<script src="../js/element-ui.js"></script>
<script type="text/javascript" src="../js/jquery-1.11.3.js"></script>
<script type="text/javascript" src="../js/jquery-ui.js"></script>
</head>
<style type="text/css">
	.login-container{
		-webkit-border-radius: 5px;
	    border-radius: 5px;
	    -moz-border-radius: 5px;
	    background-clip: padding-box;
	    margin: 180px auto;
	    width: 500px;
	    padding: 35px 35px 15px 35px;
	    background: #fff;
	    border: 1px solid #eaeaea;
	    box-shadow: 0 0 25px #cac6c6;
	}
	.Verification{
		float: right;
	}
	.imgFrame{
		width: 500px;
		min-height: 200px;
		border: 1px #ccc solid;
		border-radius: 5px;
		position: relative;
		overflow: hidden;
		top: 0;
		left: 0;

	}
	.imgFrame img{

		display: block;
		width: 100%;
	}
	.imgFrame .select{
		width: 100px;
		height: 100px;
		border: 1px #f00 dashed;
		box-shadow: 0px 0px 400px 400px rgba(0,0,0,0.4);
		position: absolute;
		top: 0;
		left: 0;
	}

</style>
<body>
<div id="app">

	<el-form :model="user" ref="ruleForm2" label-position="left" label-width="0px" class="demo-ruleForm login-container" id="registerFrom">
	    <h3 class="title">用户注册</h3>
	    <el-form-item prop="account" style="width:500px;">
	      <el-input type="text" v-model="user.username" auto-complete="off" placeholder="账号" name="username">
	      	<template slot="prepend">用户账号：</template>
	      </el-input>
	    </el-form-item>
	    <el-form-item prop="checkPass" style="width:500px;">
	      <el-input type="password" v-model="user.password" auto-complete="off" placeholder="密码" name="password">
	      	<template slot="prepend">用户密码：</template>
	      </el-input>
	    </el-form-item>
	    <el-form-item prop="checkPass" style="width:500px;">

	      <el-input type="password" v-model="user.passwordAge" auto-complete="off" placeholder="密码" name="passwordAge">
	      	<template slot="prepend">重复密码：</template>
	      </el-input>
	    </el-form-item>

	    <el-form-item prop="account" style="width:500px;">
			<div class="imgFrame"></div>


				<input type="file" name="img" class="file">
	    </el-form-item>

	    <el-form-item prop="account" style="width:500px;">
	    	<el-input type="text" v-model="user.code" auto-complete="off" placeholder="验证码" style="width: 250px;">
		      	<template slot="prepend">验证码：</template>
	      	</el-input>
	      	<img :src="Verification.path" class="Verification">
	    </el-form-item>


	    <el-form-item style="width:500px;">
	      <el-button type="primary" style="width:300px;margin: 0 auto;display: block" @click.native.prevent="register" :loading="logining">立即注册</el-button>
	    </el-form-item>
		<input type="hidden" name="top" v-model="ui.top">
		<input type="hidden" name="left" v-model="ui.left">
		<input type="hidden" name="width" v-model="ui.width">
		<input type="hidden" name="height" v-model="ui.height">
 	</el-form>

</div>

</body>
</html>

<script type="text/javascript">
	var vm = new Vue({
		el:'#app',
		data:{
			isShow:false,
			user: {
	          username: 'liu2',
	          password: 111111,
	          passwordAge:111111,
	          code:''
	        },
	        logining:false,
	        Verification:{
	        	path:'',
	        	num:''
	        },
	        mySrc:'',
			Zoom:0,//缩放比
			ui:{
				top:0,
				left:0,
				width:100,
				height:100
			},
			isImg:false,//是否上传头像


		},
		methods:{
			register:function(){
				console.log(this.ui)
				if( this.user.code != this.Verification.num){
					 this.$message.error('验证码不正确！');
					 var myImg = document.querySelector('.myImg');
						if(myImg){
							myImg.parentNode.removeChild(myImg);
						}
					 return false
				}
				else if(this.isImg == false){
					this.$message.error('头像只支持jpg或png！');
					return false
				}
				else if( this.user.password != this.user.passwordAge){
					this.$message.error('两次密码输入不正确');
					return false
				}
				var that = this;
				var url = 'http://192.168.40.214:3000/register';
				var form = document.querySelector('#registerFrom');
				var formData = new FormData(form);
                $.ajax({
                    url: url,
                    type: "post",
                    data:formData,
					dataType: "json",
					processData : false,
					contentType : false,
                    success: function(e) {
						console.log(e)
						if( e.code == 200 && e.state == 1){
							window.location.href = '../index.html';
						}
						else if(e.code == 200 && e.state == 0){
							that.$message.error('账号已存在！');
						}
                    },
					error:function(e){
						if(e.status == 500){
							that.$message.error('您的网络异常，请稍后尝试！');

						}
					}
                })


			},
		},
		created:function(){

		},
		mounted:function(){
			var imgFrame = document.querySelector('.imgFrame');
			//初始化创建图片
			var imgFrameChild = new Image();
			imgFrameChild.className = 'imgFrameChild';
			imgFrame.appendChild(imgFrameChild);

			var that = this;
			var url = 'http://192.168.40.214:3000/verification';
            $.ajax({
                url: url,
                type: "get",
                success: function(e) {
                	if(e.code == 200){
                		that.Verification.path = e.path;
                		that.Verification.num = e.num;
                	}
                }
            });

			$('.file').change(function (e) {

				var obj =e.target.files[0];//获取图片对象


				if(obj.type != 'image/jpeg' && obj.type != 'image/png'){
					that.$message.error('头像只支持jpg或png！');
					imgFrameChild.src=''
					that.isImg = false;
					return false;
				}
				var url = URL.createObjectURL(obj);//达成url
				imgFrameChild.src = url;
				var img = new Image();
				img.src = url;
				img.onload = function () {
					var w  = img.width;
					that.Zoom = w/500;
					that.isImg = true;
					that.ui.width = 100*that.Zoom;
					that.ui.height = 100*that.Zoom;
				}

				//创建小框
				var select = document.querySelector('.select');
				if(!select){
					var mySelect = document.createElement('div');
					mySelect.className = 'select';
					imgFrame.appendChild(mySelect);
					$('.select').draggable({
						containment: "parent",
						stop:function (event, ui) {
							that.ui.top = ui.position.top * that.Zoom;
							that.ui.left = ui.position.left * that.Zoom;
						}
					});
					$('.select').resizable({
						stop:function (event, ui) {
							that.ui.width = ui.size.width * that.Zoom;
							that.ui.height = ui.size.height * that.Zoom;

						}
					})

				}
			});









		}

	})



</script>