@font-face {
  font-family: octicons-anchor;
  src: url(data:font/woff;charset=utf-8;base64,d09GRgABAAAAAAYcAA0AAAAACjQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABMAAAABwAAAAca8vGTk9TLzIAAAFMAAAARAAAAFZG1VHVY21hcAAAAZAAAAA+AAABQgAP9AdjdnQgAAAB0AAAAAQAAAAEACICiGdhc3AAAAHUAAAACAAAAAj//wADZ2x5ZgAAAdwAAADRAAABEKyikaNoZWFkAAACsAAAAC0AAAA2AtXoA2hoZWEAAALgAAAAHAAAACQHngNFaG10eAAAAvwAAAAQAAAAEAwAACJsb2NhAAADDAAAAAoAAAAKALIAVG1heHAAAAMYAAAAHwAAACABEAB2bmFtZQAAAzgAAALBAAAFu3I9x/Nwb3N0AAAF/AAAAB0AAAAvaoFvbwAAAAEAAAAAzBdyYwAAAADP2IQvAAAAAM/bz7t4nGNgZGFgnMDAysDB1Ml0hoGBoR9CM75mMGLkYGBgYmBlZsAKAtJcUxgcPsR8iGF2+O/AEMPsznAYKMwIkgMA5REMOXicY2BgYGaAYBkGRgYQsAHyGMF8FgYFIM0ChED+h5j//yEk/3KoSgZGNgYYk4GRCUgwMaACRoZhDwCs7QgGAAAAIgKIAAAAAf//AAJ4nHWMMQrCQBBF/0zWrCCIKUQsTDCL2EXMohYGSSmorScInsRGL2DOYJe0Ntp7BK+gJ1BxF1stZvjz/v8DRghQzEc4kIgKwiAppcA9LtzKLSkdNhKFY3HF4lK69ExKslx7Xa+vPRVS43G98vG1DnkDMIBUgFN0MDXflU8tbaZOUkXUH0+U27RoRpOIyCKjbMCVejwypzJJG4jIwb43rfl6wbwanocrJm9XFYfskuVC5K/TPyczNU7b84CXcbxks1Un6H6tLH9vf2LRnn8Ax7A5WQAAAHicY2BkYGAA4teL1+yI57f5ysDNwgAC529f0kOmWRiYVgEpDgYmEA8AUzEKsQAAAHicY2BkYGB2+O/AEMPCAAJAkpEBFbAAADgKAe0EAAAiAAAAAAQAAAAEAAAAAAAAKgAqACoAiAAAeJxjYGRgYGBhsGFgYgABEMkFhAwM/xn0QAIAD6YBhwB4nI1Ty07cMBS9QwKlQapQW3VXySvEqDCZGbGaHULiIQ1FKgjWMxknMfLEke2A+IJu+wntrt/QbVf9gG75jK577Lg8K1qQPCfnnnt8fX1NRC/pmjrk/zprC+8D7tBy9DHgBXoWfQ44Av8t4Bj4Z8CLtBL9CniJluPXASf0Lm4CXqFX8Q84dOLnMB17N4c7tBo1AS/Qi+hTwBH4rwHHwN8DXqQ30XXAS7QaLwSc0Gn8NuAVWou/gFmnjLrEaEh9GmDdDGgL3B4JsrRPDU2hTOiMSuJUIdKQQayiAth69r6akSSFqIJuA19TrzCIaY8sIoxyrNIrL//pw7A2iMygkX5vDj+G+kuoLdX4GlGK/8Lnlz6/h9MpmoO9rafrz7ILXEHHaAx95s9lsI7AHNMBWEZHULnfAXwG9/ZqdzLI08iuwRloXE8kfhXYAvE23+23DU3t626rbs8/8adv+9DWknsHp3E17oCf+Z48rvEQNZ78paYM38qfk3v/u3l3u3GXN2Dmvmvpf1Srwk3pB/VSsp512bA/GG5i2WJ7wu430yQ5K3nFGiOqgtmSB5pJVSizwaacmUZzZhXLlZTq8qGGFY2YcSkqbth6aW1tRmlaCFs2016m5qn36SbJrqosG4uMV4aP2PHBmB3tjtmgN2izkGQyLWprekbIntJFing32a5rKWCN/SdSoga45EJykyQ7asZvHQ8PTm6cslIpwyeyjbVltNikc2HTR7YKh9LBl9DADC0U/jLcBZDKrMhUBfQBvXRzLtFtjU9eNHKin0x5InTqb8lNpfKv1s1xHzTXRqgKzek/mb7nB8RZTCDhGEX3kK/8Q75AmUM/eLkfA+0Hi908Kx4eNsMgudg5GLdRD7a84npi+YxNr5i5KIbW5izXas7cHXIMAau1OueZhfj+cOcP3P8MNIWLyYOBuxL6DRylJ4cAAAB4nGNgYoAALjDJyIAOWMCiTIxMLDmZedkABtIBygAAAA==) format('woff');
}

* {
  box-sizing: border-box;
}
html{
  padding: 0 10px;
}

body {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

body .wy {
  padding: 45px;
  border: 1px solid #ddd;
  border-radius: 3px;
  word-wrap: break-word;
}

pre {
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.wy {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light";
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
  background-color: #fff;
}

.wy a {
  background-color: transparent;
}

.wy a:active,
.wy a:hover {
  outline: 0;
}

.wy strong {
  font-weight: bold;
}

.wy h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.wy img {
  border: 0;
}

.wy hr {
  box-sizing: content-box;
  height: 0;
}

.wy pre {
  overflow: auto;
}

.wy code,
.wy kbd,
.wy pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

.wy input {
  color: inherit;
  font: inherit;
  margin: 0;
}

.wy html input[disabled] {
  cursor: default;
}

.wy input {
  line-height: normal;
}

.wy input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.wy table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wy td,
.wy th {
  padding: 0;
}

.wy input {
  font: 13px / 1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.wy a {
  color: #4078c0;
  text-decoration: none;
}

.wy a:hover,
.wy a:active {
  text-decoration: underline;
}

.wy hr {
  height: 0;
  margin: 50px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.wy hr:before {
  display: table;
  content: "";
}

.wy hr:after {
  display: table;
  clear: both;
  content: "华丽的分割线";
  color: #ccc;
  position: absolute;
  left: 50%;
  margin-left: -38px;
  margin-top: -9px;
  background-color: #fff;
  padding: 0 2px;
  font-size: 12px;
}

.wy h1,
.wy h2,
.wy h3,
.wy h4,
.wy h5,
.wy h6 {
  margin-top: 35px;
  margin-bottom: 25px;
  line-height: 1.4;
}

.wy h1 {
  font-size: 30px;
}

.wy h2 {
  font-size: 21px;
}

.wy h3 {
  font-size: 16px;
}

.wy h4 {
  font-size: 14px;
}

.wy h5 {
  font-size: 12px;
}

.wy h6 {
  font-size: 11px;
}

.wy blockquote {
  margin: 0;
}

.wy ul,
.wy ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.wy ol ol,
.wy ul ol {
  list-style-type: lower-roman;
}

.wy ul ul ol,
.wy ul ol ol,
.wy ol ul ol,
.wy ol ol ol {
  list-style-type: lower-alpha;
}

.wy dd {
  margin-left: 0;
}

.wy code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 12px;
}

.wy pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.wy .select::-ms-expand {
  opacity: 0;
}

.wy .octicon {
  font: normal normal normal 16px/1 octicons-anchor;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wy .octicon-link:before {
  content: '\f05c';
}

.wy:before {
  display: table;
  content: "";
}

.wy:after {
  display: table;
  clear: both;
  content: "";
}

.wy>*:first-child {
  margin-top: 0 !important;
}

.wy>*:last-child {
  margin-bottom: 0 !important;
}

.wy a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.wy .anchor {
  display: inline-block;
  padding-right: 2px;
  margin-left: -18px;
}

.wy .anchor:focus {
  outline: none;
}

.wy h1,
.wy h2,
.wy h3,
.wy h4,
.wy h5,
.wy h6 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.wy h1 .octicon-link,
.wy h2 .octicon-link,
.wy h3 .octicon-link,
.wy h4 .octicon-link,
.wy h5 .octicon-link,
.wy h6 .octicon-link {
  color: #000;
  vertical-align: middle;
  visibility: hidden;
}

.wy h1:hover .anchor,
.wy h2:hover .anchor,
.wy h3:hover .anchor,
.wy h4:hover .anchor,
.wy h5:hover .anchor,
.wy h6:hover .anchor {
  text-decoration: none;
}

.wy h1:hover .anchor .octicon-link,
.wy h2:hover .anchor .octicon-link,
.wy h3:hover .anchor .octicon-link,
.wy h4:hover .anchor .octicon-link,
.wy h5:hover .anchor .octicon-link,
.wy h6:hover .anchor .octicon-link {
  visibility: visible;
}

.wy h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

.wy h1 .anchor {
  line-height: 1;
}

.wy h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  border-bottom: 1px solid #eee;
}

.wy h2 .anchor {
  line-height: 1;
}

.wy h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.wy h3 .anchor {
  line-height: 1.2;
}

.wy h4 {
  font-size: 1.25em;
}

.wy h4 .anchor {
  line-height: 1.2;
}

.wy h5 {
  font-size: 1em;
}

.wy h5 .anchor {
  line-height: 1.1;
}

.wy h6 {
  font-size: 1em;
  color: #777;
}

.wy h6 .anchor {
  line-height: 1.1;
}

.wy p,
.wy blockquote,
.wy ul,
.wy ol,
.wy dl,
.wy table,
.wy pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.wy hr {
  height: 1px;
  padding: 0;
  margin: 100px 0;
  background-color: #e7e7e7;
  border: 0 none;
}

.wy ul,
.wy ol {
  padding-left: 2em;
}

.wy ul ul,
.wy ul ol,
.wy ol ol,
.wy ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.wy li>p {
  margin-top: 16px;
}

.wy dl {
  padding: 0;
}

.wy dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.wy dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.wy blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}

.wy blockquote>:first-child {
  margin-top: 0;
}

.wy blockquote>:last-child {
  margin-bottom: 0;
}

.wy table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.wy table th {
  font-weight: bold;
}

.wy table th,
.wy table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.wy table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.wy table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.wy img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.wy code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}

.wy code:before,
.wy code:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}

.wy pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.wy .highlight {
  margin-bottom: 16px;
}

.wy .highlight pre,
.wy pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.wy .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.wy pre {
  word-wrap: normal;
}

.wy pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.wy pre code:before,
.wy pre code:after {
  content: normal;
}

.wy kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.wy .pl-c {
  color: #969896;
}

.wy .pl-c1,
.wy .pl-s .pl-v {
  color: #0086b3;
}

.wy .pl-e,
.wy .pl-en {
  color: #795da3;
}

.wy .pl-s .pl-s1,
.wy .pl-smi {
  color: #333;
}

.wy .pl-ent {
  color: #63a35c;
}

.wy .pl-k {
  color: #a71d5d;
}

.wy .pl-pds,
.wy .pl-s,
.wy .pl-s .pl-pse .pl-s1,
.wy .pl-sr,
.wy .pl-sr .pl-cce,
.wy .pl-sr .pl-sra,
.wy .pl-sr .pl-sre {
  color: #183691;
}

.wy .pl-v {
  color: #ed6a43;
}

.wy .pl-id {
  color: #b52a1d;
}

.wy .pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}

.wy .pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}

.wy .pl-ml {
  color: #693a17;
}

.wy .pl-mh,
.wy .pl-mh .pl-en,
.wy .pl-ms {
  color: #1d3e81;
  font-weight: bold;
}

.wy .pl-mq {
  color: #008080;
}

.wy .pl-mi {
  color: #333;
  font-style: italic;
}

.wy .pl-mb {
  color: #333;
  font-weight: bold;
}

.wy .pl-md {
  background-color: #ffecec;
  color: #bd2c00;
}

.wy .pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}

.wy .pl-mdr {
  color: #795da3;
  font-weight: bold;
}

.wy .pl-mo {
  color: #1d3e81;
}

.wy kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

.wy .plan-price-unit {
  color: #767676;
  font-weight: normal;
}

.wy .task-list-item {
  list-style-type: none;
}

.wy .task-list-item+.task-list-item {
  margin-top: 3px;
}

.wy .task-list-item input {
  margin: 0 0.35em 0.25em -1.6em;
  vertical-align: middle;
}

.wy .plan-choice {
  padding: 15px;
  padding-left: 40px;
  display: block;
  border: 1px solid #e0e0e0;
  position: relative;
  font-weight: normal;
  background-color: #fafafa;
}

.wy .plan-choice.open {
  background-color: #fff;
}

.wy .plan-choice.open .plan-choice-seat-breakdown {
  display: block;
}

.wy .plan-choice-free {
  border-radius: 3px 3px 0 0;
}

.wy .plan-choice-paid {
  border-radius: 0 0 3px 3px;
  border-top: 0;
  margin-bottom: 20px;
}

.wy .plan-choice-radio {
  position: absolute;
  left: 15px;
  top: 18px;
}

.wy .plan-choice-exp {
  color: #999;
  font-size: 12px;
  margin-top: 5px;
}

.wy .plan-choice-seat-breakdown {
  margin-top: 10px;
  display: none;
}

.wy:checked+.radio-label {
  z-index: 1;
  position: relative;
  border-color: #4078c0;
}
