*{
    margin: 0;
    padding: 0;
}
body,html{
    background: #f9f9f9;
    height:100%;
}
#app{
    width:990px;
    height:710px;
    background: #c1def4;
    border-radius:3px;
    border: 1px #4ca4e4 solid;
}
.header{
    height: 60px;
    background: #54a4e4;
    border-bottom: 1px #4490c1 solid ;
}
.header img{
    margin-left: 30px;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px #ccc;
}
.header span{
    float: left;
    margin-left: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
}
.body{
    height: 700px;
    padding:5px;
    overflow: hidden;
}
.bodyChild{

    height:100%;
}
.left{
    float: left;
    width: 200px;
    height:100%;
    max-width: 300px;
    padding-right:5px;
}
.right{
    float: left;
    width: 765px;
    height:100%;
    padding-left:5px;
    position: relative;
}
.leftChild{
    width: 100%;
    height: 100%;
    border: 1px #4ca4e4 solid;
    border-radius: 5px;
}
.rightChild{
    width: 100%;
    height: 100%;
    border: 1px #4ca4e4 solid;
    border-radius: 5px;
    overflow: hidden;

}
.leftChild .num{
    display: block;
    height:30px;
    padding-left:10px;
    line-height: 30px;
}
.leftChild .title{
    display: block;
    height:30px;
    padding-left: 20px;
    line-height: 30px;
    width:180px;
    background:#4ca4e4 ;
}
.leftChild ul{
    width:100%;
    height: 640px;
    overflow-y: auto;
    background: #fff;
}
.leftChild ul li{
    text-decoration: none;
    width: 100%;
    height: 40px;
    border-bottom: 1px #ccc solid;
    padding: 10px 0;

}
.leftChild ul .me{
    background: #666;
}
.leftChild ul .me span{
    color: #fff;
}


/*来消息了*/
.leftChild ul .message{
    animation:messageTo 0.7s infinite;
}

@keyframes messageTo
{
0% {opacity: 1}
50% {opacity: 0}
100% {opacity: 1}
}


.leftChild ul li img{
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;

}
.leftChild ul li span{
    float: left;
    width:130px;
    height: 40px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height: 40px;

}
.leftChild b{
    float: left;
    width:50px;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    color: #999;

}
.leftChild ul li:hover{
    cursor: pointer;
}
.right .rightChild .show{
    height: 500px;
    width: 100%;
    background: #fff;
    border-bottom: 1px #4ca4e4 solid;
    min-height: 500px;
    overflow-y: auto;
}
.right .rightChild .text{
    width: 100%;
    height:200px;
}
.right .rightChild .actionBar{
    width:100%;
    height:167px;
}
.right .rightChild .actionBar .colorBtn{
    float: left;
    width: 80px;
    height: 30px;
    margin-right: 10px;
    
}
.right .rightChild .actionBar #form p{
    float: left;
    width: 80px;
    height: 30px;
    margin-right: 10px;
    position: relative;
    overflow:hidden;
}
.right .rightChild .actionBar #form p .filebutton{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}
.right .rightChild .actionBar .biaoqing{
    float: left;
    width: 80px;
    height: 30px;
} 
.right .rightChild .actionBar #form p .fileBtn{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
} 
.right .rightChild .text textarea{
    width: 98%;
    display: block;
    margin: 5px auto;
    resize: none;
    height:110px;

}
.right .rightChild .text p{
    width:100%;
    display: block;
    height:36px;
}
.right .rightChild .text p button{
    float: right;
    margin-right: 10px;
}
.show .chatOneLine{
    margin-top:10px;
    width: 100%;
    float: left;
    margin-bottom:10px;

}
.show .chatOneLine .one{
    overflow: hidden;
}
.show .chatOneLine .one img{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    float: left;
}
.show .chatOneLine b{
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    float: left;
    line-height: 50px;
    font-size: 18px;
    color: #0000ff;
}
.show .chatOneLine span{
    height: 50px;
    float: left;
    line-height: 50px;
    font-size: 12px;
    color: #0000ff;
}
.show .chatOneLine i{
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.show .chatOneLine i img{
    display: block;
    width: 100%;
    height: 100%;
}
.show .chatOneLine p{
    width:98%;
    margin: 10px auto;
    line-height:30px;
    word-break:break-all;
}
.show .me b{
    color: #008040;
}
.show .me span{
    color: #008040;
}
.show .me p{
    color: #0000ff;
}
.show .showChild{
    overflow: hidden;
}
.show .showChild .chatOneLine .liaotianImg{
    display: block;
    max-width: 300px;
    max-height: 300px;
    margin-left: 10px;
}
.logOut{
    float: right;
    width: 100px;
    line-height:40px;
    color:#ccc;
}
.logOut:hover{
    color:#666;
    cursor: pointer;
}
.el-dialog__header{
    padding: 0px;
    background: #54a4e4;
    
}
.el-dialog{
    width: 560px;
}
.dialogHeader{
    padding: 10px;
}
.dialogHeader button{
    float: right;
    width: 22px;
    background: #f00;
}
.el-dialog__body{
    padding: 10px;
    background: #c1def4
}
.el-dialog__header span{
    color: #fff;
}
.PrivateChat{
    width: 100%;
    height: 500px;
}
.PrivateChatContent{
    width: 100%;
    height: 400px;
    overflow-y: auto;
    background: #fff;
}
.PrivateChatContent .PrivateChatContentChild{
    overflow:hidden; 
}

.PrivateChat textarea{
    display: block;
    width: 100%;
    resize: none;
    height: 60px;
    padding: 5px;
    margin: 5px auto;
}
.PrivateChat p{
    width: 100%;
    display: block;
    margin: 0 auto;
}


/*私聊*/
.PrivateChatContent .chatOneLine{
    margin-top:10px;

    width: 100%;
    float: left;

}
.PrivateChatContent .chatOneLine .one{
    overflow: hidden;
}
.PrivateChatContent .chatOneLine img{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    float: left;
}
.PrivateChatContent .chatOneLine b{
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
    float: left;
    line-height: 30px;
    font-size: 16px;
    color: #0000ff;
}
.PrivateChatContent .chatOneLine span{
    height: 30px;
    float: left;
    line-height: 30px;
    font-size: 12px;
    color: #0000ff;
}
.PrivateChatContent .chatOneLine i{
    float: left;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.PrivateChatContent .chatOneLine i img{
    display: block;
    width: 100%;
    height: 100%;
}
.PrivateChatContent .chatOneLine p{
    width:98%;
    margin: 0px auto;
    line-height:30px;
    word-break:break-all;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 14px;
}
.PrivateChatContent .me img{
    float: right;
    margin-right: 10px;
}
.PrivateChatContent .me b{
    float: right;
    color: #008040;
}
.PrivateChatContent .me span{
    float: right;
    color: #008040;
}
.show .me p{
    color: #0000ff;
}
.biaoqingFrame{
    width: 450px;
    border: 1px #ccc solid;
    background: #fff;
    position: absolute;
    left: 20px;
    bottom:200px;
}
.biaoqingFrame ul{
    width: 100%;
    overflow:hidden; 
}
.biaoqingFrame ul li{
    float: left;
    width: 28px;
    height: 28px;
    border: 1px #fff solid;
    text-decoration: none;
    list-style: none;
}
.biaoqingFrame ul li img{
    display: block;
    margin: 0 auto;
}
.biaoqingFrame ul li:hover{
    border: 1px #f00 solid;
}
#edui1_bottombar{
    display: none;
}
